body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background-image: url('/images/data-center-billboard.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgb(245, 245, 245, 0.5);
  box-shadow: -15px 17px 30px -3px rgba(18, 142, 206, 0.49);
  padding: 35px;
  border-radius: 22px;
  width: 600px;
  text-align: center;
}

button {
  border: 1px solid black;
  margin: 5px;
  padding: 5px 20px;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  border: 2px solid rgb(63, 170, 252);
  color: rgb(63, 170, 252);
}

input {
  border: 3px solid black;
  border-radius: 30px;
  height: 35px;
  background: #e5e7e9;
  border: none;
  margin-bottom: 10px;
  font-size: 20px;
}

input:hover {
  border: 2px solid rgb(63, 170, 252);
}

li {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: underline;
  font-size: 22px;
}
